
.fundonavbar{
    background: rgb(7,30,76);
    background: linear-gradient(90deg, rgba(7,30,76,1) 0%, rgba(166,77,107,1) 100%);
    border-radius: 0% 0% 10% 10%;  
    display: flex !important;  
    align-items: center !important;
    height: 6vh;
}
    


.icons{
    cursor: pointer;
    width: 37px;
    height: 37px;
    padding: 7vh;

    
}