body{
  background-image: url("https://img.freepik.com/fotos-gratis/parede-de-concreto-azul-marinho-com-arranhoes_53876-102666.jpg?w=900&t=st=1687779455~exp=1687780055~hmac=3c5d9dc387cdf3760cee0b8037b75ab2c51a7cd34bba1bb3b5d8872cd42cd592");
  background-size: cover;
  margin: auto;
}